:root {
  --white-color: #fff;
  --black: #333;
  --blue: #031b49;
  --light-blue: #7e89fd;
  --trans-blue: rgba(40, 48, 84, 0.4);
  --bold-blue: #017a9b;
  --orange: #ff9600;
  --light-orange: rgba(252, 214, 112, 1);
  --red: #e34444;
  --rating: #ffce2d;
  --light-green: #bdea09;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
  line-height: 1.5rem;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  min-width: 110px;
  --btn-height: 38px;
  height: var(--btn-height);

  font-size: 1.4em;
  font-weight: 700;
  line-height: var(--btn-height);

  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  cursor: pointer;
  border-radius: 5px;

  color: var(--white-color);
  background-color: var(--blue);

  transition: 0.4s ease;
}

.btn:hover {
  min-width: 130px;
  color: var(--white-color);
  box-shadow: inset 130px 0 0 0 var(--orange);
}

.btn--orange {
  background-color: var(--orange);
  box-shadow: inset 0 0 0 0 var(--orange);
}

.btn--red {
  background-color: var(--red);
  box-shadow: inset 0 0 0 0 var(--red);
}

.btn--red:hover {
  box-shadow: inset 130px 0 0 0 var(--blod-blue);
}

.btn--orange:hover {
  box-shadow: inset 130px 0 0 0 var(--blue);
}

.btn--green {
  color: var(--blue);
  font-weight: 700;
  background-color: var(--light-green);
  box-shadow: inset 0 0 0 0 var(--light-green);
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}


.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

/* mobile */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

/* muon thang row ko magrin chi can them class .no-gutters (tuc la da co row) */
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

/* thang .col nay chi hoat dong khi la con cua .row.no-gutters (tuc la thang row nay da la no-gutter, ko margin */
.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

/* an di 1 cot */
.c-0 {
  display: none;
}

/* ND chiem 1 cot (tuc la co 12 ND) */
.c-1 {
  /* flex basis trong truong hop flex-direction row nam ngang se = width, neu direction la column flex basis se la height */
  flex: 0 0 8.33333%;
  /* xet max-width la 8.33333% vi de gioi han kt cua cot ko dc vuot qua 8.33333% */
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* trong layout 10 cot, co 5 cot, moi cot chiem 2 cot co so*/
.c-10-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

/* Column offset tren mobile */
.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* Tablet tro len (tu 740px tro len) */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* m viet tat cua medium (trung binh) - chi tablet */
  .m-0 {
    display: none;
  }

  /* mong muon tat ca cac class nay sau nay du dung voi the nao di nua (ke ca span) thi no van hoat dong dung */
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /*  */
  .m-10-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC tu 1113px tro len */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  /* l viet tat cua large - chi pc */
  .l-0 {
    display: none;
  }

  /* mong muon tat ca cac class nay sau nay du dung voi the nao di nua (ke ca span) thi no van hoat dong dung */
  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  /* co 4 noi dung can hien thi --> moi noi dung se chiem 3 cot de cho 4 noi dung se chiem het 12 cot */
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /*  */
  .l-10-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet dung wide */
/* Tablet va PC co do phan giai thap tu 740px den 1023px */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* PC co do phan giai tu 1024px den 1239px, ap dung tieu chuan 984px? */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .l-0 {
    display: none;
  }

  /* mong muon tat ca cac class nay sau nay du dung voi the nao di nua (ke ca span) thi no van hoat dong dung */
  .wide .l-1,
  .wide .l-2,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /*  */
  .wide .l-10-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  /* column offset */
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}